/*登录注册区域开始*/
.f_element_h{height:40px;line-height:40px;}
button{padding:0;}
.login_wrap{overflow-x:auto;background-color:#3f47f4;}
.logo_box{position:relative;padding-bottom:30px;text-align:center;font-size:20px;}
.logo{margin:auto;max-width:200px;}
.login_main{position:absolute;z-index:10;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;min-width:300px;max-width:420px;padding:35px;margin:auto;text-align:center;background-color:hsla(0,0%,100%,.1);color:#fff;}
.login_main:before{content:"";position:absolute;z-index:-1;display:block;left:10px;top:10px;right:10px;bottom:10px;background-color:hsla(0,0%,100%,.1);}
.back{position:absolute;left:10px;font-size:14px;text-decoration:underline;}
.back:hover{color:#ddd;}
.login_content{width:100%;max-width:300px;margin:auto;}
/*.login_content .title{position:relative;padding:;font-size:22px;text-align:center;}*/
.back{position:absolute;left:20px;top:30px;font-size:14px;cursor:pointer;}
.login_input_area{}
.login_input_area .m:not(:first-child){margin-top:15px;}
.login_input_area .m{position:relative;width:100%;padding-left:40px;background-color:hsla(0,0%,100%,.5);}
.ipt_hint{position:absolute;top:0;left:0;width:40px;text-align:center;font-size:24px;}
.login_input_area .yz{padding-right:120px;}
.login_input_area .write{width:100%;padding:0;border:0;background-color:transparent;color:inherit;}
.login_input_area .check{position:absolute;top:0;right:0;display:block;width:120px;margin:0;font-size:14px;text-align:center;cursor:pointer;color:#444;}
.check img{display:block;width:100%;height:100%;background-color:#e1e1e1;border:0;}
.lg_more{margin:8px 0;font-size:14px;}
.lg_more .l{float:left;color:#eee;}
.lg_more .r{float:right;}
.lg_more a{cursor:pointer;}
.lg_more a:hover{text-decoration:underline;}
.login_enter{margin:18px auto;}
.login_enter .btn{float:left;width:49%;font-size:18px;}
.submits{margin-right:2%;background-color:#d7b208;color:#031959;}
.submits_pwd{width:100%;font-size:18px;background-color:#d7b208;color:#031959;}
.rgst{}
/*登录注册区域结束*/
.fgt_pwd_wrap{background-color:#eee;}
.fgt_pwd_wrap .main{position:relative;width:100%;padding:33px 0 15px;background-color:#3385ff;}
.head{width:100%;padding:15px;background-color:#fff;display:flex;align-items:center;border-bottom:1px solid #999;}
.head .l{float:left;padding:0 10px;}
.head .line{position:relative;}
.head .line:after{content:"";position:absolute;right:1px;top:0;bottom:0;width:1px;background-color:#ddd;border-radius:50%;background:linear-gradient(#ddd,#ccc,#ddd);}
.head .title{font-size:24px;color:#444;}
.head .logo{max-width:100px;}
